@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text */
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff; /* Plain white background */
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }
  h5 {
    @apply text-base mb-6;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  
  }
}

/* Custom Montserrat font classes */
.montserrat-light {
  @apply font-montserrat font-light;
}

.montserrat-regular {
  @apply font-montserrat font-normal;
}

.montserrat-medium {
  @apply font-montserrat font-medium;
}

.montserrat-semibold {
  @apply font-montserrat font-semibold;
}

.montserrat-bold {
  @apply font-montserrat font-bold;
}


/* Dashboard Styling: side menu*/


.navigation {
  position: relative;
  min-height: 100vh;
  background: teal;
  border-left: 10px solid teal;
  transition: 0.5s;
  overflow: hidden;
  z-index: 10;
  
}


.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
}

.navigation ul li {
  position: relative;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 15px;


}

.navigation ul li:hover {
  background: white;
}

.navigation ul li a.active {

  color: yellow;
  font-weight: bold;
 
 
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  text-decoration: none; /* Remove underline from links */
}

.navigation ul li:hover a{
  color: teal;
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  font-size: 1.5rem;
}
.navigation ul li a .title{
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* curve outside */
.navigation ul li:hover a::before{
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px white;
  pointer-events: none;

}
.navigation ul li:hover a::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px white;
  pointer-events: none;

}


/* top menu */
.dashboard{
  position: absolute;
  width: calc(100% - 180px);
  left: 300px;
  min-height: 100vh;
  background: white;
  transition: 0.5s;

}

.dashboard.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-top: 20px;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 40px;
  font-size: 18px;
  outline: none;
  border: 1px solid black;

}

