@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 245, 245, 245;
  --background-start-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 245, 245, 245;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  
  }
}

/* Custom Montserrat font classes */
.montserrat-light {
  @apply font-montserrat font-light;
}

.montserrat-regular {
  @apply font-montserrat font-normal;
}

.montserrat-medium {
  @apply font-montserrat font-medium;
}

.montserrat-semibold {
  @apply font-montserrat font-semibold;
}

.montserrat-bold {
  @apply font-montserrat font-bold;
}

